// 拠点一覧
.baseAdd {
  margin-top: 25px;
  font-size: 25px;
}

.baseAdd select {
  width:300px;
  height:34px;
  padding-left:5px;
  font-size:14px;
  vertical-align:top;  
}

.baseNo {
  margin-right: 50px;
}

.baseName {
  float: left;
  margin-right: 70px;
}

.attendanceKind {
  float: left;
  margin-right: 44px;
}

.addBottun {
  text-align: center;
  margin-top: 25px;
}